useDynLib(ImbTreeEntropy, .registration=TRUE)
export(
	ImbTreeEntropy,
	ImbTreeEntropyInter,
	ExtractRules,
	PredictTree,
	PrintTree,
	PrintTreeInter
)

importFrom(Rcpp, evalCpp)
import(BBmisc)
import(GenSA)
import(data.tree)
import(snow)
import(utils)
import(caret)
import(shiny)
import(RWeka)
